.product {
    width: 300px ;
    height: 510px ;
    border: 1px solid rgb(167, 163, 163);
    border-radius: 8px;
    position: relative;
}
.product img {
    width: 286px ;
    height: 286px ;
    border-radius: 8px;
    margin: 7px;
}
.product-info {
    margin: 0 14px ;
}
.product-info p{
    margin-bottom: 0px;
    line-height: 18px;
}
.product-name {
    font-family: 'Loto' ;
    font-style: normal ;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 7px;
}
.btn-cart {
    width: 100%;
    background: #FFE0B3;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px ;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart:hover {
    background: orange;
    color: white;
}
.btn-text {
    margin-right: 5px;
}

